<div class="jumbotron text-center m-0 p-0">
    <h1 class="display-4">Categories</h1>
    <p class="lead">This is Categories page here we can add different categories for spending income and expenditures</p>
    <hr class="my-4">
  </div>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Category Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of category" (click)="showDialog(item)">
            <th scope="row">{{item.id}}</th>
            <td>{{item.categoryName}}</td>
            <td>{{item.categoryType}}</td>
          </tr>
        </tbody>
      </table>
</div>
<button type="button" id="category-add-button" class="btn btn-primary" (click)=openDialog()>+</button>